.navbar {
  background-color: #1bbfce;
}

.navbar-brand {
  font-size: 1rem;
}

.navbar .nav-link {
  font-size: 1rem;
}

body {
  font-size: 20px;
}

h1 {
  font-size: 36px;
  font-weight: 550;
}

h2 {
  font-size: 28px;
  font-weight: 400;
}

/* Link color styles */
a {
  color: #19b2c0;
  text-decoration: none;
}

a:hover {
  color: #1696a1;
  text-decoration: underline;
}